@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
:root{
    --heading-font:"Inconsolata", monospace;
}
header {
    padding: 15px 0;
}
html{
    scroll-behavior: smooth;
}
header .navbar-brand {
    font-family: "Inconsolata", monospace;
    font-size: 30px;
    font-weight: 700;
    color: black;
}

/* portfolio strat  */
.portfolio {
    padding: 60px 0;
    font-family: "Inconsolata", monospace;
}

.portfolio-title h2 {
    font-size: 24px;
    color: black;
}

.portfolio-title p {
    font-size: 15px;
    margin-bottom: 1rem;
}

.card-img-overlay {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.card:hover .card-img-overlay {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

img {
    transition: all 0.3s;

}

.card:hover img {
    transform: scale(1.1);
}

.portfolio-item-icon i {
    transition: 0.3s;
}

.portfolio-item-icon i:hover {
    color: black;
}

.modal-body {
    border-top: none;
    /* border: 1px solid transparent; */
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* portfolio end  */

/* client section start  */

.client-heading h2{
    font-family: var(--heading-font);
}
.client-heading p{
    font-family: var(--heading-font);
}
/* swiper  */
.swiper {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.swiper-slide img {
  width: 120px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.swiper-slide img:hover {
  filter: grayscale(0%);
}

.swiper-pagination {
  position: relative;
  margin-top: 30px;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: #888;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

/* client section end  */

/* services start */

.service-heading h2{
    font-family: var(--heading-font);
}
.service-heading p{
    font-family: var(--heading-font);
}
.service-item{
    font-family: var(--heading-font);
    height: 100%;
}
.service-item h3{
    position: relative;
    width: max-content;
}
.service-item h3::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -11px;
    left: 0;
    background: rgb(161, 161, 161);
    transition: 0.3s;
}
.service-item:hover h3::after{
    background: black;
}
/* up scroll  */
.bi-arrow-up-short{
    color: white;
    font-size: 28px;
    background-color: #000;
    padding: 0px 7px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
}
/* services end  */

/* testimonials start  */
.testimonials-heading h2{
    font-family: var(--heading-font);
}
.testimonials-heading p{
    font-family: var(--heading-font);
    margin-bottom: 50px;
}

 .testimonial-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      margin: auto;
    }

    .carousel-indicators {
      margin-top: 25px; /* Space from testimonial text to indicators */
    }

    .carousel-indicators [data-bs-target] {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #000;
      opacity: 0.4;
      margin: 0 6px;
    }

    .carousel-indicators .active {
      opacity: 1;
    }

    .testimonial-content {
      font-family: var(--heading-font);
      font-style: italic;
      max-width: 80%;
      margin: auto;
    }
.bi-star-fill{
    margin: 0 1px;
}
/* testimonials end  */

/* footer start  */
footer{
    font-family: var(--heading-font);
}
.social-links i{
    color: gray;
    padding: 7px 9px;
    margin: 0 5px;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    transition: all 0.3s;
}
.social-links i:hover{
    border: 1px solid black;
    color: black;

}
/* footer end  */

/* link page start  */
.portfolio-details-heading{
    font-family: var(--heading-font);
}

.carousel-item img {
    max-height: 650px;
    object-fit: cover;
    margin: auto;
  }

  .carousel-indicators {
    margin-top: 40px; /* Add space above the dots */
  }

  .carousel-indicators [data-bs-target] {
    background-color: #000;
  }
  #bookCarousel {
  padding-bottom: 50px;
}

/* project-information satrt  */
.project-information{
    font-family: var(--heading-font);
}
.project-para{
    font-family: var(--heading-font);
}
/* project-information end  */
/* link page end  */

/* service page start  */
.service-details-heading{
    font-family: var(--heading-font);
}
.service-left ul{
    font-family: var(--heading-font);
}
.service-left ul li{
    position: relative;
    transition: 0.3s;
}

.service-left ul li::before{
    content: '|';
    font-size: 35px;
    color: #888;
    transition: 0.3s;
}

.service-left ul li:hover{
    color: #000;
    font-weight: bold;
}
.service-left ul li:hover::before{
    color: #000;
}
.service-para{
    font-family: var(--heading-font);
}
.service-right{
    font-family: var(--heading-font);
    text-align: justify;
}
.service-right ul li{
    position: relative;
    display: flex;
    align-items: center;
}
.service-right ul li::before{
    content: '\F26B';
    font-family:bootstrap-icons !important;
    padding:0 7px 0 0;
    line-height: 38px;
    font-size: 20px;
    font-weight: 500;
}
/* service page end  */

/* about section start  */
.about-details-heading{
    font-family: var(--heading-font);
}
.right-para{
    font-family: var(--heading-font);
}
.about-content .right-para ul li{
    position: relative;
    margin: 15px 0;
}
.about-content .right-para ul li::before{
    content: '\F285';
    font-family: bootstrap-icons !important;
    margin-right: 5px;
    font-size: small;
    font-weight: bold;
}
.resume{
    font-family: var(--heading-font);
    padding: 100px;
}
.about-content{
    font-family: var(--heading-font);
}
.about-content h4 {
    position: relative;
    color:#444;
    font-size: 21px;
    text-transform: uppercase;
}

.about-content h4::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    left: -32px;
    top: 6px;
}

.about-content-left {
    position: relative;
    padding-left: 20px;
}

.about-content-left::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 61px;
    width: 2px;
    height: 90%;
    background-color: black;
}
.about-content-right{
    font-family: var(--heading-font);
}
.about-content-right {
    position: relative;
    padding-left: 20px;
}

.about-content-right::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 61px;
    width: 2px;
    height: 95%;
    background-color: black;
}
/* about section end  */